<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
     <link href="{{ url_for('static', filename='sem2.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <center>
        <h1 class="h1">Главное меню</h1>
        <a class="a" href="">Ничего</a><br><br>
        <form action="" method="POST">
            <input type="button" class="button" value="Выход из системы" onclick="location.href='/exit'">
        </form>
    </center>
</body>
</html>