<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Static</title>
    <link href="{{url_for('static', filename='sem1.css')}}">
</head>
<body>
    <center>
        <p>
            <img src="https://dorognoe.ru/thumb/performers_870/images/singers/00/2016/81/97/56f15678a7d34_michael_shufutinsky2.jpg">
        </p>
        <h2>All product's categories</h2>
        <p>
            <ul>
                <li>Fish</li>
                <li>Meat</li>
                <li>Vegetables</li>
            </ul>
        </p>
    </center>
</body>
</html>