<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic</title>
    <link href="{{ url_for('static', filename='sem2.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <center>
        <h1 class="h1">{{title}}</h1>
        <p>
            <table border="1">
                <tr class="tr">
                    <td>Номер собеседования</td>
                    <td>Должность</td>
                    <td>Интервьюер</td>
                    <td>Кандидат</td>
                    <td>Дата проведения</td>
                </tr>
                {% for result in results %}
                <tr class="tr">
                    <td>{{ result['Interview_ID'] }}</td>
                    <td>{{ result['Job_title'] }}</td>
                    <td>{{ result['emp_FIO'] }}</td>
                    <td>{{ result['Candid_FIO'] }}</td>
                    <td>{{ result['Date_of'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </p>
        <form>
            <input type="button" class="button" value="Назад" onclick="history.back()">
            <input type="button" class="button" value="В меню выбора" onclick="location.href='/query'">
        </form>
    </center>
</body>
</html>